/* --------------------navbar---------------------- */

#navbar-custom{
  position:fixed;
  width:100%;
  background-color:white;
  z-index:100;
}

#btn_pesan{
  background-color: #D11D27;
  color:white;
  border-radius:15px;
}

#jumbotron-custom{
  background-color:transparent;
  padding-top:100px;
  padding-bottom:180px;
  background-image: url(assets/Wave.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

#judul-jumbotron{
  font-size: 48px;
  padding-right: 10%;
}

#p-jumbotron{
  line-height:1.5;
  font-size: 20px;
  padding-right: 8%;
}

#btn-lihat-varian{
  background-color: white;
  color:#FA8252;
  font-size: 12px;
}

#atau{
  margin: 0px 10px;
}

#btn-jelajahi{
  background-color:transparent;
  color:white;
  border: 2px solid white;
  font-size: 12px;
}

#img-frameatas{
  position:absolute;
  left:30px;
  top:0px;
}

#owl1a, #owl1b{
  width:300px;
  padding-top:100px;
}

#img-framebawah{
  position:absolute;
  right:50px;
  bottom:-40px;
}

#jumbotron-row1{
  height: auto;
}

#jumbotron-row2{
  display: none;
}

#content-jumbotron{
  padding-left: 3em;
}
/* end nav */

/* kontent 1 */
#judul-mobile{
  display:none;
}

#judul-desktop img{
  position:absolute;
  z-index:-3;
  }

#judul-desktop h1{
  padding-top:60px;
  padding-left:100px;
  }

  #k3-isi3{
    display: none;
  }

  #k3-isi1, #k3-isi2{
    display: flex;
  }

  #owl2 img{
    width:100%; height: 100%; object-fit: fill; border-radius:15px 0px 0px 15px;
  }

  #k7-frame{
    position:absolute; right:70px; top:70px;
  }
  #nav-mobile{
    display: none;
  }

  #konten1 h1, #k3-isi h1{
    background: -webkit-linear-gradient(45deg, #ed3833, #fd9459);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  #k3-isi1 h2, #k3-isi2 h2, #k3-isi3 h2, .fontH2 h2{
    color: #D11D27;
  }

  #k3-isi1 p, #k3-isi2 p, #k3-isi3 p{
    color: #FD7859;
  }

  .menu_footer a{
    text-decoration: none;
    color: black;
  }


@media screen and (max-width: 1200px) {
  #judul-desktop img{
    position:absolute;
    z-index:-3;
    width:100px;
    left: -30px;
    }

  #judul-desktop h1{
    padding-top:35px;
    padding-left:20px;
    }
}

@media screen and (max-width: 991px) {
  #content-jumbotron{
    padding-left: 2em;
  }
  #judul-desktop img{
    position:absolute;
    z-index:-3;
    width:100px;
    left: -30px;
    }

  #judul-desktop h1{
    padding-top:35px;
    padding-left:20px;
    }

  #konten3-isi h1{
    font-size: 30px;
  }

  #k7-frame{
    position:absolute; right:10px; top:10px;
    width: 10%;
  }

  #nav-desktop{
    display: none;
  }

  #nav-mobile{
    display: block;
  }

}

@media screen and (max-width: 879px) {
  #judul-jumbotron{
    font-size: 35px;
    padding-right: 10%;
  }

  #p-jumbotron{
    line-height:1.5;
    font-size: 20px;
    padding-right: 8%;
  }

  #btn-lihat-varian{
    background-color: white;
    color:#FA8252;
  }

  #atau{
    margin: 0px 5px;
    display: none;
  }

  #btn-jelajahi{
    background-color:transparent;
    color:white;
    border: 2px solid white;
  }

  #img-frameatas{
    position:absolute;
    left:30px;
    top:0px;
  }

  #owl1a, #owl1b{
    width:270px;
    padding-top:100px;
  }

  #img-framebawah{
    position:absolute;
    right:50px;
    bottom:-40px;
  }
}

@media screen and (max-width: 768px) {
  #judul-jumbotron{
    font-size: 30px;
  }

  #p-jumbotron{
    line-height:1.5;
    font-size: 18px;
  }

  #btn-lihat-varian{
    background-color: white;
    color:#FA8252;
    font-size: 12px;
  }

  #atau{
    margin: 0px 5px;
  }

  #btn-jelajahi{
    background-color:transparent;
    color:white;
    border: 2px solid white;
    font-size: 12px;
  }

  #img-frameatas{
    position:absolute;
    left:0px;
    top:0px;
    width: 100px;
  }

  #owl1a, #owl1b{
    width: 170px;
  padding-top: 70px;
  margin-right: 20px;
  }

  #img-framebawah{
    position: absolute;
    right: 40px;
    bottom: -20px;
    width: 70px;
  }
  #jumbotron-custom{
    color: white;
  }

  /* content 1 */
  #judul-desktop{
    display:none;
  }
  #judul-mobile{
    display:block;
  }
  #judul-mobile img{
    position:absolute;
    z-index:-3;
    width:100px;
    }

  #judul-mobile h1{
    padding-top:35px;
    padding-left:70px;
    }

  #img-konten1{
    width: 80% !important;
    margin-left: 8% !important;
    }

    /* content2 */
    #k3-isi1, #k3-isi2{
      display: none;
    }

    #k3-isi3{
      display: flex;
    }

    #owl2 img{
      border-radius:15px 15px 0px 0px;
      object-fit: cover;
    }

    .k5-foto{
        height:200px;
    }
    #owl2 p{
      padding: 10px;
    }
}

@media screen and (max-width: 723px){
  #btn-lihat-varian{
    background-color: white;
    color:#FA8252;
    font-size: 10px;
  }

  #atau{
    margin: 0px 5px;
  }

  #btn-jelajahi{
    background-color:transparent;
    color:white;
    border: 2px solid white;
    font-size: 10px;
  }
}

@media screen and (max-width: 685px){

  #judul-jumbotron{
    font-size: 25px;
  }

  #p-jumbotron{
    line-height:1.5;
    font-size: 15px;
  }
  #btn-lihat-varian{
    background-color: white;
    color:#FA8252;
    font-size: 9px;
  }

  #btn-jelajahi{
    background-color:transparent;
    color:white;
    border: 2px solid white;
    font-size: 9px;
  }
}
@media screen and (max-width: 628px){
  #judul-jumbotron{
    font-size: 22px;
  }
  #p-jumbotron{
    line-height:1.5;
    font-size: 15px;
  }
  #btn-lihat-varian{
    background-color: white;
    color:#FA8252;
    font-size: 8px;
  }

  #btn-jelajahi{
    background-color:transparent;
    color:white;
    border: 2px solid white;
    font-size: 8px;
  }
  #img-frameatas{
    position:absolute;
    left: 10px;
    top:20px;
    width: 70px;
  }

  #owl1a, #owl1b{
    width:130px;
    padding-top:70px;
    margin-right: 0px;
  }

  #img-framebawah{
    position:absolute;
    right: 30px;
    bottom:-20px;
    width: 50px;
  }

  #jumbotron-custom{
    padding-bottom: 120px;
  }
}


@media screen and (max-width: 578px) {
  #jumbotron-row1{
    display: none;
  }

  #jumbotron-row2{
    display: flex;
  }

  #judul-jumbotron{
    font-size: 30px;
margin-top: 40px;
text-align: center;
padding-right: 0;
  }

  #p-jumbotron{
    line-height: 1.5;
    font-size: 20px;
    text-align: center;
    padding-right: 0
  }

  #btn-lihat-varian{
    background-color: white;
    color:#FA8252;
    font-size: 17px;
  }

  #atau{
    margin: 5px 5px;
    display:block;
    text-align: center;
  }

  #btn-jelajahi{
    background-color:transparent;
    color:white;
    border: 1px solid white;
    font-size: 17px;
    margin-bottom: 80px;
  }

  #img-frameatas{
    position: absolute;
    left: 40px;
    top: 10px;
    width: 20%;
  }

  #owl1a, #owl1b{
    width:60%;
    padding-top:50px;
  }

  #img-framebawah{
    position: absolute;
    right: 60px;
    bottom: 0px;
    width: 14%;
  }

  #jumbotron-custom{
    padding-bottom: 100px;
    margin-bottom:0px;
  }

  #judul-mobile h1{
    font-size: 30px;
padding-top: 35px;
padding-left: 55px;
font-weight: bold;
  }
  #judul-mobile img{
    position: absolute;
  z-index: -3;
  width: 100px;
  margin-left: -15px;
  margin-top: -8px;
  }
  #konten1 h2, #konten1 p{
    padding-left: 5%;
    padding-right:5%;
  }
  #konten1 h2{
    font-size: 20px;
    font-weight: bold;
  }
  #img-konten1{
    margin-bottom: 20px;
  }
  #konten2-isi h3{
    font-size: 15px;
  }
  #konten2-isi p{
    font-size: 10px;
  }
  #judul-konten2{
    font-size: 20px;
  }
  #k3-isi h1{
    font-size: 18px;
  }
  #k3-isi p{
    font-size: 14px;
  }
  #k3-isi button{
    font-size: 8px;
  }
  #k3-isi3 h2{
    font-size: 18px;
  }
}

@media screen and (max-width: 399px) {
  #content-jumbotron{
    padding-left: 1em;
  }

  #judul-jumbotron{
    font-size: 25px;
margin-top: 40px;
text-align: center;
padding-right: 0;
  }

  #p-jumbotron{
    line-height: 1.5;
    font-size: 15px;
    text-align: center;
    padding-right: 0;
  }

  #btn-lihat-varian{
    background-color: white;
    color:#FA8252;
    font-size: 12px;
  }

  #atau{
    margin: 5px 5px;
    display:block;
    text-align: center;
  }

  #btn-jelajahi{
    background-color:transparent;
    color:white;
    border: 1px solid white;
    font-size: 12px;
    margin-bottom: 80px;
  }


    #img-frameatas{
      position: absolute;
      left: 40px;
      top: 10px;
      width: 20%;
    }

    #owl1a, #owl1b{
      width:60%;
      padding-top:50px;
    }

    #img-framebawah{
      position: absolute;
      right: 50px;
      bottom: 0px;
      width: 14%;
    }

    #jumbotron-row2{
      padding-right: 1em !important;
      padding-left: 1em !important;
    }

    #jumbotron-custom{
      padding-bottom: 100px;
      margin-bottom:0px;
    }

    #judul-mobile h1{
      font-size: 30px;
  padding-top: 35px;
  padding-left: 70px;
  font-weight: bold;
    }
    #judul-mobile img{
      position: absolute;
    z-index: -3;
    width: 100px;
    margin-left: 0px;
    margin-top: -8px;
    }
}

/* ------------------end navbar--------------------- */
